*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    transform-style: preserve-3d;
}

body {
    min-height: 100dvh;
    background: black;
    display: flex;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.image__container {
    height: 10em;
    width: 10em;
    border-radius: 50%;
    overflow: hidden;
}

img {
    height: 100%;
}

h1 {
    color: red;
    font-size: 5em;
    font-family: "Blaka Hollow", display;
}

.bg {
    display: flex;
    position: absolute;
    inset: 0;
    perspective: 1500px;
}

.bg > img {
    margin: auto;
    height: 12vw;
    width: 12vw;
    z-index: -1;
    transform-origin: bottom right;
    transform: translateY(-40%) translateZ(-50px);
    animation: rock 1s ease-in-out infinite;
}

.bg > img:nth-child(2) {
    margin-top: 20%;
    transform: translateZ(50px);
}

@keyframes rock {
    20% {
        transform: rotateZ(-30deg) translateZ(500px);
    }
}